body{
    background-color: rgb(169, 100, 235); 
    background-position: center;
    text-align: center;
    margin-top: 10%;
    background-image: url('pic/p3image.jpg');
}
p{
    color: white;
    font-size: 2rem;
}